# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. Pandas
4. Matplotlib
5. Keras
6. SciKit-Learn

| Data Science Tools |
| -----------------  |
| Jupyter Notebook |
| Apache Hadoop |
| TensorFlow |
| PyTorch |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science Tools

## Author
Walid Alakk